In [67]:
#데이터 핸들링 라이브러리
import numpy as np
import pandas as pd

In [72]:
death_df=pd.read_csv('./도로교통공단_사망_교통사고정보.csv',encoding='euc-kr')
print(death_df.info())
death_df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2816 entries, 0 to 2815
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   발생년          2816 non-null   int64
 1   발생년월일시       2816 non-null   object
 2   주야           2816 non-null   object
 3   요일           2816 non-null   object
 4   사망자수         2816 non-null   int64
 5   부상자수         2816 non-null   int64
 6   중상자수         2816 non-null   int64
 7   경상자수         2816 non-null   int64
 8   부상신고자수       2816 non-null   int64
 9   발생지시도        2816 non-null   object
 10  발생지시군구       2816 non-null   object
 11  사고유형_대분류     2816 non-null   object
 12  사고유형_중분류     2816 non-null   object
 13  사고유형         2816 non-null   object
 14  가해자법규위반      2816 non-null   object
 15  도로형태_대분류     2816 non-null   object
 16  도로형태         2816 non-null   object
 17  가해자_당사자종별    2816 non-null   object
 18  피해자_당사자종별    2816 non-null   object
 19  발생위치X(UTMK)  2816 non-null   float64
 20  발생위치Y(UTMK)  2816 non-null   float64
 21  경도           2816 non-null   float64
 22  위도           2816 non-null   float64
dtypes: float64(4), int64(6), object(13)
memory usage: 506.1+ KB
None

,count,mean,std,min,25%,50%,75%,max
발생년,2816.0,2.021000e+03,0.000000,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03
사망자수,2816.0,1.035511e+00,0.255976,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
부상자수,2816.0,4.705256e-01,1.727384,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.900000e+01
중상자수,2816.0,1.935369e-01,0.708618,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.900000e+01
경상자수,2816.0,2.585227e-01,1.186334,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+01
부상신고자수,2816.0,1.846591e-02,0.169672,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
발생위치X(UTMK),2816.0,1.006206e+06,78077.019729,7.530210e+05,9.447632e+05,9.772510e+05,1.072172e+06,1.296157e+06
발생위치Y(UTMK),2816.0,1.820282e+06,116932.854770,1.470724e+06,1.723195e+06,1.827476e+06,1.932889e+06,2.046108e+06
경도,2816.0,1.275663e+02,0.866696,1.246898e+02,1.268816e+02,1.272435e+02,1.283005e+02,1.308485e+02
위도,2816.0,3.637675e+01,1.055270,3.322151e+01,3.549322e+01,3.644253e+01,3.739352e+01,3.841156e+01

### 필요없는 열/ 중복된 데이터 열 제거
- 관심있는 데이터는 사망자수이므로 중상자수,부상자수,경상자수,부상신고자수 피처를 제거한다
- 발생위치X(UTMK)와 발생위치Y(UTMK)는 경도,위도와 중복되는 정보이므로 삭제한다

In [73]:
death_df.drop(['발생년','발생위치X(UTMK)','발생위치Y(UTMK)','부상자수','중상자수','경상자수','부상신고자수'],axis=1,inplace=True)
death_df

,발생년월일시,주야,요일,사망자수,발생지시도,발생지시군구,사고유형_대분류,사고유형_중분류,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,경도,위도
0,2021-01-01 03:00,야,금,1,경북,군위군,차대차,추돌,추돌,안전운전 의무 불이행,교차로,교차로부근,승용차,승용차,128.578152,36.132653
1,2021-01-01 09:00,주,금,1,충남,서산시,차량단독,공작물충돌,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,승용차,없음,126.408201,36.616845
2,2021-01-01 15:00,주,금,1,강원,강릉시,차대차,측면충돌,측면충돌,안전운전 의무 불이행,교차로,교차로내,원동기장치자전거,승용차,128.907484,37.761842
3,2021-01-01 19:00,야,금,1,전남,진도군,차대사람,횡단중,횡단중,안전운전 의무 불이행,단일로,기타단일로,화물차,보행자,126.263573,34.513391
4,2021-01-01 21:00,야,금,1,경기,수원시,차대사람,기타,기타,기타,단일로,기타단일로,승용차,보행자,126.976011,37.236327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,2021-12-31 16:00,주,금,1,경북,경산시,차대차,정면충돌,정면충돌,안전운전 의무 불이행,교차로,교차로내,승용차,이륜차,128.818730,35.891434
2812,2021-12-31 17:00,주,금,1,제주,제주시,차대차,추돌,추돌,안전운전 의무 불이행,단일로,기타단일로,화물차,화물차,126.860248,33.517699
2813,2021-12-31 18:00,야,금,1,강원,춘천시,차대사람,횡단중,횡단중,보행자 보호의무 위반,단일로,기타단일로,승용차,보행자,127.762845,37.840465
2814,2021-12-31 19:00,야,금,1,경북,상주시,차대사람,횡단중,횡단중,보행자 보호의무 위반,교차로,교차로횡단보도내,승용차,보행자,128.155943,36.418521
2815,2021-12-31 21:00,야,금,1,강원,양구군,차량단독,전복,전복,중앙선 침범,단일로,기타단일로,승용차,없음,127.985386,38.097913

### 2021년도 기준 가장 높은 사망자가 발생한 요일은 목요일이다

In [74]:
death_df.groupby(by='요일').sum().sort_values(by='사망자수',ascending=False)

    사망자수            경도            위도
요일
목    464  57296.752907  16336.312471
월    454  55244.951749  15758.670110
금    440  54470.685536  15532.640215
화    417  50363.559085  14385.518538
수    416  51483.666177  14690.032913
토    378  46969.224598  13374.521915
일    347  43397.892607  12359.240082